<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3> Add user </h3>
<div>
    <form method="post">
        <input type="text" name="position" placeholder="input name of role">
        <button type="submit">Добавить</button>
    </form>
</div>
<form action="listOfRoles">
    <button type="submit">Вернуться к списку</button>
</form>
</body>
</html>